body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.site-layout-content {
  display: flex !important;
  flex: auto !important;
  position: relative !important;
  background: #fff;
  padding: 5px;
  max-height: auto !important;
}

.navbar{
  position: fixed !important;
  z-index: 1 !important;
  width: 100%;

  &-nav{
    .nav-item{
        margin-top: 23px;
        width: 70px !important;
    }
    @media (min-width: 600px) {
        margin-left: 20px;
        margin-top: -20px;
    }
  }
}

.ant-layout-content{
  margin-top: 64px !important;
}

.item-menu{
  margin-right: 15px;
  a {
      color: #F9B234 !important;
  }
  a:hover {
      color: #124179 !important;
  }
  .active {
      color: #124179 !important;
  }
}

.home{
  width: 100%;
  min-height: 70vh;

  .accordion{
      padding: 2px;    
  }
}

.tasasInteres{
  display: flex; 
  justify-content: center;
}

.tipo-int{
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;

  .rate{
    min-width: 100% !important;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 600px) {
        width: 70%;
    }
  }
}

.tipo{
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;

  .container-form{
    display: flex;
    flex-direction: column;
    @media (min-width: 600px) {
      width: 125rem !important;
    }

    .button-ok{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 600px) {
          width: 100%;
      }

      .basic-fields{
        @media (min-width: 600px) {
          display: flex;
          flex-direction: column;
          width: 100%;

          .inputs{
            display: flex;
            flex-direction: row;

            .option{
              min-width: 200px !important;
            }

            .ant-form-item{
              @media (min-width: 600px) {
                margin-left: 20px;
              }
            }
          }
          .conditional{
            display: flex;
            flex-direction: row;
            .ant-form-item{
              @media (min-width: 600px) {
                margin-left: 20px;
                width: 650px;
              }
            }
          }
        }
      }

      .ant-input-number{
          width: 100%;
      }
  }

  }
  
  
}

.card{
  width: 100%;

  .ant-card-head{
      background-color: #124179;
      color: #fff;
  }
}

.card-head-component {
  display: flex;
  flex-direction: row;
  align-items: center;

  p{
      margin: 0 30px;
      font-size: 30px;
      @media (max-width: 600px) {
          font-size: 15px;
      }
  }
  
  img{
      max-height: 32px;
  }
}

.contact{
  @media (max-width: 600px) {
      height: 70vh;
  }
}

.contact-container{
  position: relative;
  display: inline-block;
  text-align: center;
}

.contact-banner{
  max-width: 100% !important;
}

.contact-text{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  .ant-tag{
      font-size: xx-large;
      padding: 20px 12px;
      @media (max-width: 600px) {
          font-size: x-large;
          padding: 10px 12px;
      }
  }
}

.contact-info{
  margin-top: 50px;
}

.footer{
  text-align: center;
  color: #124179 !important;
  background-color: #f8f9fa !important;
}

.back-icon{
  font-size: 50px !important;
  @media (max-width: 600px) {
    font-size: 30px !important;
  }
}

.api{
  width: 100%;

  .documentation{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  .title-card{
    @media (max-width: 600px) {
      font-size: 25px;
    }
  }
}

.credits{
  width: 100%;

  .ant-card-body{
    margin-top: -20px !important;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .title-card{
    @media (max-width: 600px) {
      font-size: 25px;
    }
  }

  .list-credits{
    display: flex;
    align-items: center;
    margin: 40px 0;

    .description{
      margin-left: 15px !important;
      font-size: 23px !important;
      @media (max-width: 600px) {
        font-size: 12px !important;
      }
    }
  }
}

.add-form{
  display: flex !important;
  flex-direction: column;
  padding: 3px;
  justify-content: center !important;
  margin-bottom: 20px;
  width: 100% !important;

  &-container{
    display: flex !important;
    align-items: center !important;

    .item{
      margin: 0 12px 0 12px !important;
    }

    .select{
      margin-top: 30px;
      
      .ant-select-selector{
        min-width: 150px !important;
      }
    }
  }  
}

.extra{

  .container{
    border: 1px solid;
    margin-bottom: 20px;
    @media (min-width: 600px) {
      max-width: 100rem;
    }

    .table-responsive{
      @media (max-width: 600px) {
        margin-bottom: 20px;

        .payments{
          margin-top: 25px;
          min-width: auto !important;
        }
      }
    }

    .label{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .fields-extra{
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: auto !important;
      margin-bottom: 2px;

      .inputs{
        margin-bottom: 12px;
        @media (max-width: 600px) {
          min-width: 200px !important;
        }
        @media (min-width: 600px) {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        .form-inputs{          
            display: flex;
            flex-direction: column !important;

            @media (min-width: 600px) {
              margin-left: 20px;
              min-width: 100px !important;
            }

            label{
              margin-left: 12px;
            }

            .ant-input-number{
              min-width: 200px !important;
            }

          @media (min-width: 600px) {
            display: flex;
            flex-direction: row;
            max-width: 90rem;
            .ant-form-item{
              margin-left: 10px;
            }
            .ant-input-number{
              min-width: 200px !important;
              @media (min-width: 600px) {
                width: auto !important;
              }
            }
            .ant-select-selector{
              min-width: 160px;
            }
          }
        }
        
        .ant-btn-danger{
          @media (min-width: 600px) {
            margin-left: 20px;
          }
          padding: 1px;
          .anticon.anticon-close{
            font-size: 25px;
          }
        }
      }
    }
  }
}

.add-button{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 30px !important;

    .ant-btn-primary{
      background-color: green !important;
    }
}

.drop-button{
  @media (max-width: 600px) {
    margin-top: 15px;
  }

  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
}

.error{
  display: flex;
  justify-content: center;
  margin-top: 12px;
  
    p{
      color: red !important;
      font-size: 12px;
    }
}

.download{
  .button{
    margin-top: 23px;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;

    .anticon-file-excel{
      font-size: 23px;
    }
  }
}

.tax-converted{
  display: flex;
  justify-content: center;
  font-size: 23px;
}